ul.dotNav {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

ul.dotNav li {
  display: inline-block;
  text-decoration: none;
  
  cursor: pointer;
  
}

ul.dotNav li::before {
  content: '•';
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  line-height: 10px;
  height: 5px;
}

ul.dotNav li {
  color: black;
}
ul.dotNav li:hover {
  color: rgba(0,0,0,0.6);
}
ul.dotNav li.active::before {
  content: '•';
  color: white;
  font-weight: bold;
}