.slidesContainer {
  /*border: 1px dotted blue;*/
  overflow: visible;
  max-width: 100%;
  pointer-events: none;
}

.loading {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 160px;
  left:  160px;
}

.nextSlide.loading {
  position: absolute;
  left: 100%; /*160 + n*/
  margin-left: 160px;
}

.appear {
  animation-name: appear;
  animation-duration: 700ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}